*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 10px; 
    background-color: #00070f;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #be42f7; 
    border-radius: 5px; 
  }
  body::-webkit-scrollbar-track {
    background-color: #00070f; 
  }
  @media only screen and (min-width: 300px) and (max-width: 4000px){
    
  }
    
  
